<p id="notice"><%= notice %></p>

<h1>There are <%= form.following.size %> Followers who do not follow you back</h1>

<%= form_for :unfollow_form, url: unfollow_followers_path, method: :delete do |f| %>

    <% form.following.each do |follower| %>
        <ul>
          <li><%= follower.username %> : <%= follower.id %></li>
          <%  %w{no_follow_back followers_count followings_count comments_count reposts_count }.each do|key| %>
              <%= key %> : <%= follower[key] %>
          <% end %>
          <div class="checkbox">
            <%= label_tag :unfollow do %>
                <%= f.check_box :unfollow,
                                {
                                    multiple: true,
                                    checked:false,
                                    id: "unfollow=checkbox-#{follower.id}"
                                },
                                follower.id, nil %>
                <%= "unfollow" %>
            <% end %>
          </div>
        </ul>

    <% end %>

    <div class="form-group">
      <%= f.submit(".continue") %>
    </div>

<% end %>

