<p id="notice"><%= notice %></p>

<h1>There are <%= form.following.size %> artists you Follow who do not follow you back</h1>

<%= form_for :unfollow_form, url: unfollow_followings_path, method: :delete do |f| %>

    <table>
      <thead>
      <tr>
        <th>Name</th>
        <th>Followers</th>
        <th>Following</th>
        <th>Comments</th>
        <th>Reposts</th>
        <th>UnFollow</th>
      </tr>
      </thead>
      <tbody>
      <% form.following.each do |following| %>
          <tr>
            <td>
              <%= following.username %>
            </td>
            <td> <%= following[:followers_count] %></td>
            <td> <%= following[:followings_count] %></td>
            <td> <%= following[:comments_count] %></td>
            <td> <%= following[:reposts_count] %></td>

            <td>
              <div class="checkbox">
                <%= label_tag :follow do %>
                    <%=
                      f.check_box :follow,
                                  { multiple: true, checked:false, id: "follow=checkbox-#{following.id}"},
                                  following.id, nil
                    %>
                <% end %>
              </div>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>


    <div class="form-group">
      <%= f.submit(".continue") %>
    </div>

<% end %>

