<p id="notice"><%= notice %></p>

<h1>You currently have <%= form.followers.size %> Followers</h1>

<%= form_for :followers_form, url: follow_followers_path, method: :delete do |f| %>

    <table>
      <thead>
      <tr>
        <th>Name</th>
        <th>Followers</th>
        <th>Following</th>
        <th>Comments</th>
        <th>Reposts</th>
        <th>Follow Back</th>
      </tr>
      </thead>
      <tbody>
      <% form.followers.each do |follower| %>
          <tr>
            <td>
              <%= follower.username %>
            </td>
            <td> <%= follower[:followers_count] %></td>
            <td> <%= follower[:followings_count] %></td>
            <td> <%= follower[:comments_count] %></td>
            <td> <%= follower[:reposts_count] %></td>

            <td>
              <% if follower[:no_follow_back] %>
                  <div class="checkbox">
                    <%= label_tag :follow do %>
                        <%=
                          f.check_box :follow,
                                      { multiple: true, checked:false, id: "follow=checkbox-#{follower.id}"},
                                      follower.id, nil
                        %>
                    <% end %>
                  </div>
              <% end %>

            </td>
          </tr>
      <% end %>
      </tbody>
    </table>

    <div class="form-group">
      <%= f.submit(".continue") %>
    </div>

<% end %>

