<!DOCTYPE html>
<html>
<head>
  <title>DatashiftSoundcloud</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/navbar' %>

<%= yield :body_start %>

<section class="<%= content_for?(:full_width) ? 'container-fluid' : 'container' %>">

  <main role="main">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= content_for?(:content) ? yield(:content) : yield %>
  </main>

  <footer class="page-footer">
    <%= yield :footer_top %>
  </footer>
</section>

<%= yield :body_end %>

</body>
</html>
